@use "../abstracts/variables";
@use "../abstracts/mixins" as m;

.footer {
  background-color: variables.$color-grey-dark-3;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: variables.$color-grey-light-2;

  @include m.respond(tab-port) {
    padding: 8rem 0;
  }

  &__logo-box {
    text-align: center;
    @include m.respond(tab-port) {
      margin-bottom: 6rem !important;
    }
  }

  &__logo {
    width: 15rem;
  }

  &__navigation, &__copyright {
    padding-top: 2rem;
    border-top: 2px solid variables.$color-grey-dark;
    display: inline-block;
    @include m.respond(tab-port) {
      width: 100%;
      text-align: center;
    }
  }

  &__copyright {
    width: 80%;
    float: right;
    @include m.respond(tab-port) {
        width: 100%;
        float: none;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;
    text-transform: uppercase;

    &:not(:last-of-type) {
      margin-right: .6rem;
    }
  }

  &__link {
    transition: all .4s;

    &:visited,
    &:link {
      display: inline-block;
      color: inherit;
      text-decoration: none;
      background-color: variables.$color-grey-dark-3;
    }

    &:hover, 
    &:active {
      color: variables.$color-primary;
      box-shadow: 0 1rem 2rem rgba(variables.$color-black, .4);
      transform: scale(1.3) rotate(5deg);
    }
  }
}